.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;

    &[data-view="4"] {
        grid-template-columns: repeat(4, 1fr);
    }
}



.d-grid {
    display: grid;
    gap: 1rem;

    &[data-view="1"] {
        grid-template-columns: repeat(1, 1fr);
    }

    &[data-view="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    &[data-view="3"] {
        grid-template-columns: repeat(3, 1fr);
    }

    &[data-view="4"] {
        grid-template-columns: repeat(4, 1fr);
    }
}