* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.middle-container {
    padding: 0 1.25rem;
    position: relative;

    @media (max-width:767px) {
        padding: 0;
    }
}

html,
body {
    min-height: 100%;
}

body {
    background-color: #E3E6E6;
}