.backtotop {
    background-color: #37475A;
    color: #fff;
    display: block;
    padding: 1rem;
    font-size: .875rem;
    text-align: center;

    &:hover {
        background-color: #485769;
    }
}

$footer:'.footer';

#{$footer} {
    font-size: .875rem;
    background-color: #232F3E;
    color: #fff;

    &-main {
        padding: 2.5rem 0;

        .container {
            max-width: 1000px;
        }
    }

    &-bottom {
        border-top: 1px solid #3a4553;
        padding: 2.5rem 0;

        .btn {
            height: 2.5rem;
            line-height: 2.5rem;
            border: 1px solid #848688;
            background-color: transparent;
            font-size: .875rem;
            font-weight: normal;
            padding: 0 1rem;
            color: #CCC;
            border-radius: .25rem;

            &:hover {
                border-color: #fff;
                color: #fff;
            }
        }
    }

    &-meta {
        &__head {
            margin-bottom: .875rem;

            h5 {
                font-size: 1rem;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
    }
}

$links-vertical:'.links-vertical';

#{$links-vertical} {
    ul {
        display: flex;
        flex-direction: column;
        gap: .625rem;

        li {
            a {
                line-height: 1.3;
                display: block;
                color: #DDD;

                &:hover {
                    text-decoration: underline;
                    color: #fff;
                }
            }
        }
    }
}

.btn--lang-update {
    &::after {
        content: "";
        width: 14px;
        height: 14px;
        background-image: url(data:image/svg+xml;base64,DQo8c3ZnIHdpZHRoPSIyMCIgaGVpZ2h0PSIxMSIgdmlld0JveD0iMCAwIDIwIDExIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHBhdGggZD0iTTEwIDEwLjkwOTFDOS44ODA2NSAxMC45MDkzIDkuNzYyNCAxMC44ODU4IDkuNjUyMSAxMC44NDAxQzkuNTQxOCAxMC43OTQ0IDkuNDQxNjIgMTAuNzI3MyA5LjM1NzMyIDEwLjY0MjhMMC4yNjY0MiAxLjU1MTg3Qy0wLjA4ODgwNjcgMS4xOTY2NSAtMC4wODg4MDY3IDAuNjIxNDIgMC4yNjY0MiAwLjI2NjQyQzAuNjIxNjQ3IC0wLjA4ODU3OTQgMS4xOTY4NyAtMC4wODg4MDY3IDEuNTUxODcgMC4yNjY0MkwxMCA4LjcxNDU5TDE4LjQ0ODIgMC4yNjY0MkMxOC44MDM0IC0wLjA4ODgwNjcgMTkuMzc4NyAtMC4wODg4MDY3IDE5LjczMzcgMC4yNjY0MkMyMC4wODg3IDAuNjIxNjQ3IDIwLjA4ODkgMS4xOTY4NyAxOS43MzM3IDEuNTUxODdMMTAuNjQyOCAxMC42NDI4QzEwLjU1ODUgMTAuNzI3MyAxMC40NTgzIDEwLjc5NDQgMTAuMzQ4IDEwLjg0MDFDMTAuMjM3NyAxMC44ODU4IDEwLjExOTQgMTAuOTA5MyAxMCAxMC45MDkxWiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
    }
}