$nav-links:'.nav-links';
$nav-link:'.nav-link';

#{$nav-links} {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: auto;
    padding: 1rem;
    padding-top: 0;

    #{$nav-link} {
        white-space: nowrap;

        &:hover {
            text-decoration: underline;
        }
    }
}

$header-nav:'.header-nav';

#{$header-nav} {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}