@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-brand-gray {
    background-color: #f5f5f5;
}

.bg-brand-dark {
    background-color: #1a1a1a;
}

.font-display {
    font-family: Oswald, sans-serif;
}